./lib/PyYAML-5.3.1.tar.gz
./lib/python-json-logger-0.1.11.tar.gz
./lib/yattag-1.12.2.tar.gz
dazl==7.0.2
yarl==1.5.1
multidict==4.7.6
daml_dit_api==0.3.0
daml_dit_if==0.3.0
sym-api-client-python==1.1.2
